<h4>TITLE:</h4>
<p><%= @idea.title %></p>

<br />

<h4>PLOT:</h4>
<p><%= @idea.plot %></p>

<br />

<h4>CHARACTERS:</h4>
<p><%= @idea.character %></p>

<br />

<h4>SETTING:</h4>
<p><%= @idea.setting %></p>

<br />

<h4>NOTES:</h4>
<p><%= @idea.notes %></p>