<% @ideas.each do |idea| %>
	<div class="clear"></div>
		<h3><%= link_to idea.title, idea_path(idea) %></h3><br />
		<%= idea.title %><br /><br />

		<h3>PLOT:</h3><br />
		<%= idea.plot %><br /><br />

		<h3>CHARACTERS:</h3><br />
		<%= idea.character %><br /><br />

		<h3>SETTING:</h3><br />
		<%= idea.setting %><br /><br />

		<h3>NOTES:</h3><br />
		<%= idea.notes %><br /><br />
	<hr />
<% end %>