<% @ideas.each do |idea| %> 
	<div>
		<h1><%= idea.title %></h1><br />
		<h4>PLOT</h4>
		<p><%= idea.plot %></p><br />
		<h4>CHARACTERS</h4>
		<p><%= idea.character %></p><br />
		<h4>SETTING</h4>
		<p><%= idea.setting %></p><br />
		<h4>NOTES</h4>
		<p><%= idea.notes %></p><br />
	</div>

	<hr />
	<% end %> 