<h1><%= @idea.title %></h1><br /><br />

<h2>PLOT</h2><br />
<p><%= @idea.plot %></p><br />

<h2>CHARACTERS</h2><br />
<p><%= @idea.character %></p><br />

<h2>SETTING</h2><br />
<p><%= @idea.setting %></p><br />

<h2>NOTES</h2><br />
<p><%= @idea.notes %></p><br />

<%= link_to 'Edit', edit_idea_path(@idea), :class => 'btn btn-primary' %>
