<!DOCTYPE html>
<html>
<head>
  <title>Plotbunnyshare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Plot Bunny Share</h1>
		<!--Navigation Bar-->
		<div class="col-xs-3">
			<%= link_to 'New Idea', new_idea_path %>
		</div>

		<div class="col-xs-5">
			<%= link_to 'Edit Idea', '#' %> 
		</div>

	</header>


<%= yield %>

</body>
</html>
